@model IPSSER.DATOS.TBL_PORTAL_DOCUMENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_PORTAL_DOCUMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            Archivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
